{% extends "layout.njk" %}

{% block head %}
  <title>Foodfy - Receitas</title>
{% endblock %}

{% block content %}
<main>
  <div class="container">

    <section id="recipes">
      {% for recipe in recipes %}
      <div class="recipe" id="{{recipes.indexOf(recipe)}}">
        <img src="{{recipe.image}}" alt="Imagem de {{recipe.title}}">
        <h3>{{recipe.title}}</h3>
        <span>{{recipe.author}}</span>
      </div>
      {% endfor %}
    </section>

  </div>
</main>

{% endblock %}
  
{% block footer %}
<script src="/scripts.js"></script>
{% endblock %}